
<body id="index">
  <div class="container">
    <div class="row1">

      <h1 class="title-design">Node<br /> Chat </h1>

    </div>
    <div class="row2">

      <form method="post" action="/room">
            <div class="index-user_name">
        <input type="text" id="userName" name="userName" class="index-user_name_text" placeholder="UserName">
            </div>
      <div class="index-enter">
         <input type="button" id="userName_button" value="入室する" class="common-button index-enter_button" onclick="enterroom();">
      </div>
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>
