<div class="container">
    <div class="row">
        <h1 class="tytle">Node Chat </h1>
        <body id="index">
    </div>
    <div class="row">
        <form method="post" action="/room">
            <div class="index-user_name">
                ユーザ名
<<<<<<< Updated upstream
                <input type="text" id="userName" name="userName" class="index-user_name_text">　　
            </div>
            <div class="index-enter">
                <input type="button" id="userName_button" value="入室する" class="common-button index-enter_button" onclick="enterroom();">
=======
                <input type="text" id="userName" name="userName" class="index-user_name_text">
            </div>
            <div class="index-enter">
                <input type="button" value="入室する" class="common-button index-enter_button" onclick="enter();">
>>>>>>> Stashed changes
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>
